body {
   background-color:#e4f9ff;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    
    &__section{
        text-align: center;
    }
    &__section--header{
        color: #fa163f;
        border:solid #084177;
    }
    &__section--paragraph {
        text-align: left;
        color: #084177;
        font-size: 20px;
    }
    
}

h1::before,
h1::after{
    content: "~";
}
h1 {
    color:#052a4d;
    text-align: center;
    font-size: 4em;
    margin-block-end: 100px;
    margin-block-start:50px;
    padding-top: 30px;
    background-color:#12cad6;
}
